<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Which provider? -->
   <add key="provider" value="System.Data.SqlClient" /> 
    <!--<add key="provider" value="System.Data.OleDb" /> -->
    <!-- Which connection string? -->
    <!-- <add key="connectionString" value= "Data Source=.;
            Initial Catalog=AutoLot;Integrated Security=True"/> -->
   <!-- <add key="connectionString" value= "Provider=SQLNCLI11;Data Source=.;Initial Catalog=AutoLot;Integrated Security=SSPI"/> -->
    </appSettings>
  
  <!-- Here is the connection string-->
   <connectionStrings>
     <add name="AutoLotSqlProvider" connectionString="Data Source=.;
            Initial Catalog=AutoLot;Integrated Security=True"/>
     <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCLI11;Data Source=.;Initial Catalog=AutoLot;Integrated Security=SSPI"/>
   </connectionStrings> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>